router:
  image: nginx:1.9.11
  links:
    - fileserver
    - fuse
    - docservices
  ports:
    - "80:80"
  volumes:
    - ./nginx.d:/etc/nginx/conf.d:ro
docservices:
  image: docker.qsensei.com/dev/docservices:latest
  links:
    - fuse
    - fileserver
  volumes:
    - $BASE_DIR:/docs:ro
  environment:
    APP_DOCS_EXTERNAL_URL: /static/docs
    APP_DOCS_URL: http://fileserver
    APP_FUSE_URL: http://fuse:8000/api
  log_driver: json-file
  log_opt:
    max-size: "50m"
    max-file: "5"
fuse:
  image: docker.qsensei.com/dev/fuse-free:latest
  # automatically setup Fuse with pkg on start - needs testing and review
  command: /fuse/bin/fusectl run -p /fuse/ext/pkg
  volumes:
    # the docsearch pkg with the schema
    - ./pkg:/fuse/ext/pkg
  volumes_from:
    - data
  environment:
    # enable services interface in managment frontend
    FUSE_OPTS: docsearch
fileserver:
  image: nginx:1.9.11
  volumes:
    - $BASE_DIR:/usr/share/nginx/html:ro
data:
  image: docker.qsensei.com/dev/fuse-free:latest
  command: echo "Fuse data-container"
